<div [@routerTransition]>
    <app-page-header [heading]="'List'" [icon]="'fa-table'"></app-page-header>
            <div class="card-header">
                New Order
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Industry</th>
                        <th>Material</th>
                        <th>Quantity(tonnes)</th>
                        <th>Deadline</th>
                        <th>Frequency</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>20/7/2017</td>
                        <td>ABC</td>
                        <td>Metal</td>
                        <td>100</td>
                        <td>21/7/2017</td>
                        <td>Every 2 days </td>
                        <td>
                            <img src="assets/images/icon1.jpg">
                            &nbsp;
                            <img src="assets/images/icon2.jpg">
                            &nbsp;
                            <img src="assets/images/icon3.jpg">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
</div>
